<%- include('components/head.ejs') %>

  </head>

  <body>
    <div>
      <% if ( users.length> 0 ) { %>
        <h1>List of users.</h1>
        <ul>
          <% for (let user of users) { %>
            <li>
              <%= user.title %>
            </li>
            <% } %>
        </ul>
        <% } else { %>
          <h1>No User founded... by EJS!</h1>
          <% } %>
    </div>
    <%- include('components/end.ejs') %>