<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-herder__item-list">
        <li class="main-header__item "><a class="active" href="/">Index</a></li>
        <li class="main-header__item"><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-content">
    <h1>Hello Guys</h1>
    <p>Today we have top five cats...</p>
    <button class="best-btn" id="myBtn" type="button">Click Me!</button>
  </main>

  <script type="text/javascript" src="/script/shop.js"></script>
</body>

</html>